{% extends 'base.html' %}
{% load static %}
{% load jsvars %}


{% block page_title %}
    Home
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'site/home.css' %}">
{% endblock %}

{% block javascripts %}
    <script src="{% static '/js/home.js' %}" charset="utf-8"></script>
{% endblock %}

{% javascript_variables %}


{% block content %}
<section id="login" class="container grid-960">
    <header class="navbar">
        <section class="navbar-section">
            <div class="navbar-brand">
                <h3>
                    <i class="fa fa-hourglass" aria-hidden="true"></i> Intime
                </h3>
            </div>
            <a href="#" class="btn btn-link">features</a>
            <a href="#" class="btn btn-link">documents</a>
        </section>
        <section class="navbar-section">
            <div class="columns nav-chip-container">
            </div>
        </section>
    </header>
    <div class="divider"></div>

    <div class="container">
    <div class="columns">
        <div class="column col-9">
            <h4>Today's Logs</h4>
            <table class="table table-hover">
            <thead>
                <tr>
                    <th>UUID</th>
                    <th>TIME (HH:MM)</th>
                    <th>TIME IN</th>
                    <th>TIME OUT</th>
                </tr>
            </thead>
            <tbody class="logs">
            </tbody>
            </table>
        </div>

        <div class="timecard column col-3">

        </div>
    </div>
    </div>
</section>
{% endblock%}

{% block mustachetemplates %}
    {% include 'mustachetemplates/nav_chip.html' %}
    {% include 'mustachetemplates/timecard.html' %}
{% endblock %}
