{% verbatim %}
    <script id="nav-chip-template" type="text/x-handlebars-template">
        <div class="tile">
            <div class="tile-icon">
                <figure class="avatar avatar-lg">
                    <img src="{{ avatar_url }}" class="" alt="">
                </figure>
            </div>
            <div class="tile-content">
                <div class="tile-title text-ellipsis">{{ full_name }}</div>
                <div class="tile-meta text-ellipsis">logout</div>
            </div>
            <div class="tile-action">
            </div>
        </div>
    </script>
{% endverbatim %}
