{% load static %}
{% load jsvars %}
<!DOCTYPE html>
<html>
   <head>
       <meta charset="utf-8">
       <title>
           {% block page_title %}
               InTime
           {% endblock %}
       </title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="{% static 'site/spectre.min.css' %}">
       {% block styles %}
       {% endblock %}
   </head>
   <body>
       <section class="section container-section">
           {% block content %}
           {% endblock %}
        </section>


       <script src="{% static '/js/lib/requirejs/require.js' %}" charset="utf-8"></script>
       <script src="{% static '/js/requireConfig.js' %}" charset="utf-8"></script>
       {% block javascripts %}
       {% endblock %}
       {% javascript_variables %}

       {% block mustachetemplates %}
       {% endblock %}
   </body>
</html>
