{% load static %}
{% load jsvars %}
<!DOCTYPE html>
<html>
   <head>
       <meta charset="utf-8">
       <title>
           {% block page_title %}
               InTime
           {% endblock %}
       </title>
       <!-- <link rel="stylesheet" href="{% static '/styles/lib/spectre.min.css'%}"> -->
       {% block styles %}
       {% endblock %}
   </head>
   <body>

       {% block content %}
       {% endblock %}



       <script src="{% static '/js/lib/requirejs/require.js' %}" charset="utf-8"></script>
       <script src="{% static '/js/requireConfig.js' %}" charset="utf-8"></script>
       {% block javascripts %}
       {% endblock %}
       {% javascript_variables %}
   </body>
</html>
